html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}


*, *::before, *::after {
    box-sizing: inherit;
}

body {
    line-height: 1;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    flex: 1;
    height: 100%;
}

.box1 {
    display: flex;
    flex-direction: column;
    width: 72px;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.9;
}


.ryg {
 padding-top: 10px;
 padding-right: 10px;
 padding-left: 10px;
}

.menu {
   display: flex;
   flex-direction: column;
   width: 72px;
   padding-top: 20px;
}

.menu__item {
    padding-top: px;
}

.justfy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.box2 {
    width: 260px;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
    background: #25272A;
    mix-blend-mode: normal;
    opacity: 0.89;
}

.nomads__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    width: 115px;
}

.nomads__text {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   color: white;
}

.alltreads {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #B5B5B5;
   margin-top: 30px;
}


.channels__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #919191;

}

.channels__list {
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #B5B5B5; 
   max-height: 340px;
   overflow-y: scroll; 
}



.clg {
    display: flex;
    flex-direction: row;
    margin-top: 18px;
    width: 213px; height: 30px; /* Размеры */
    background: #B5B5B5; /* Цвет фона */
    border-radius: 5px; /* Радиус скругления */
    display: inline-block;
    border: 2px solid transparent;
    color: white;
    vertical-align: center;
}

.cl {
    margin-top: 12px;
}


.fiends__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #919191;
}


.fl {
    margin-top: 28px;
    margin-left: -57px;
    max-height: 300px;
   overflow-y: scroll;
}


.box3 {
    flex-basis: 870px;
    flex-grow: 1;
    flex-shrink: 3;
    
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 23px;
    padding-right: 23px;
    
}

.tf {
    display: flex;
    flex-direction: row;
    gap: 340px;
    align-items: center;
}

.text_star {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.top__text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.top__star {
    
    padding-left: 6px;
}

.followers {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}

.followers__numb {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
text-align: right;
color: #A4A4A4;
}

.so {
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    align-items: center;
}

input {
    width: 240px;
    height: 33px;
    border: 1px solid;
    border-radius: 5px;
    color: #A4A4A4;
}

.other {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
}

hr {
    margin-top: 20px;
    width: 100%;
    color: #A4A4A4;

}

.chat {
    margin-top: 20px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 18px;
    max-height: 650px;
   overflow-y: scroll; 
}

.idiot {
    margin-left: -329px;
    padding-top: 18px;
    
}

.left {
    float: left;
    margin-right: 10px;
}

.idiot__name {
   text-align: left;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 12px;
   line-height: 14px;
   color: #000000;


}

.time {
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;
   color: #8D8D8D;
}

.nt { 
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.comment {
   padding-left: 375px;
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 20px;
   color: #000000;
   text-align: left;
   
}

.emoj {
    margin-left: -30px;
    margin-bottom: -85px;
}

a {
    text-decoration: none;
    color: #3577EF;
}

.date1, .date2, .date3 {
    border: none;
    border-top: 1px solid #A4A4A4;
    color: #8D8D8D;
    overflow: visible;
    text-align: center;
    height: 5px;
}

.date1:after {
    background: #fff;
    content: 'Monday, October 22nd';
    padding: 0 4px;
    position: relative;
    top: -13px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.date2::after {
    background: #fff;
    content: 'Yesterday';
    padding: 0 4px;
    position: relative;
    top: -13px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.date3::after {
    background: #fff;
    content: 'Today';
    padding: 0 4px;
    position: relative;
    top: -13px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.write {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding-top: 49px;
    padding-right: 23px;
    padding-left: 23px;
    padding-bottom: 28px;
}

.smm {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 18px;
}


.mig {
    width: 750px;
    height: 25px;
    border: 0px;
}

.smile {
    margin-right: 30px;
}




.box4 {
    width: 200px;
    background: #B5B5B5;
}


.userphoto {
    margin-left: -1051px;
    margin-bottom: -99px;
}

.basic {
    margin-top: 15px;
    margin-left: 20px;
}

.namestat {
    display: flex;
    flex-direction: row;
    gap: 6px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.profession {
    margin-top: 3.5px;
}

.social_icon {
    margin-top: 20px;
}

.button {
    display: flex;
    flex-direction: row;
    gap: 2.5px; 
    align-items: center;
    margin-top: 25px;
}

.button_message {
    width: 133px; height: 25px; /* Размеры */
    background: #3577EF; /* Цвет фона */
    border-radius: 5px; /* Радиус скругления */
    display: inline-block;
    border: 2px solid transparent;
    color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
}

.button_other {
    width: 25px; height: 25px; /* Размеры */
    background: #3577EF; /* Цвет фона */
    border-radius: 5px; /* Радиус скругления */
    display: inline-block;
    border: 2px solid transparent;
    color: white;
    text-align: center;
}

.contacts {
    margin-top: 17px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
     color: #000000;
}

.cont__info {
    margin-top: 12px;
}

.cont__info :first-child {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5F6164;
}