html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}


*, *::before, *::after {
    box-sizing: inherit;
}

body {
    line-height: 1;
    font-family: 'Lato', sans-serif;
}

.line {
    border: 1px dashed darkgray;
}

.container {
    display: flex;
    flex: 1;
    height: 100%;
}

.box1 {
    display: flex;
    width: 72px;
    position: absolute;
   left: -0.04%;
   right: 94.93%;
   top: -0.06%;
   bottom: -0.06%;
   background: #000000;
   mix-blend-mode: normal;
   opacity: 0.9;
}

.menu {
   display: flex;
   flex-direction: column;
   margin-top: 32px;
}


.ryg {
   position: absolute;
   width: 100px;
   height: 100px;
   left: -4px;
   top: -0.5px;
}


.add {
   position: absolute;
   left: -0.04%;
   right: 94.93%;
   top: 92.44%;
   bottom: -0.06%;
}

.box2 {
    display: flex;
    width: 260px;
}

.box3 {
    display: flex;
    flex-grow: 1;
}

.box4 {
    display: flex;
    width: 201px;
}
