html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}


*, *::before, *::after {
    box-sizing: inherit;
}

body {
    line-height: 1;
    font-family: 'Lato', sans-serif;
}

/* reset end */

.line {
    border: 1px dashed darkgray;
}

.container {
    display: flex;
    flex: 1;
    height: 100%;
}

.box1 {
    display: flex;
    width: 72px;
}

.box2 {
    background: #25272A;
    mix-blend-mode: normal;
    opacity: 0.75;

    display: flex;
    width: 260px;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;

    color: white;
}

.box2__header{
    width: 100%;
}

.header__item1{
    display: flex;
    justify-content: space-between;
}

.header__caption{
}

.header__settings{

}

.header__item2{
    margin-top: 30px;
}

.box3 {
    display: flex;
    flex-grow: 1;
}

.box4 {
    display: flex;
    width: 201px;
}

.menu {
    display: flex;
    flex-direction: column;
}